$sydney:#595C8D;
$tokyo:#008E5C;
$sf:#FC5A8E;
$new-dehli:#008D8c;
$new-york:#4EC58F;
$cair:#FFC260;
$tel-aviv:#FF5844;
$moscow:#EE393E;
$belgrade: #ac5c8d;
$paris: #00c6c4;
$lisbon: #0091c3;
$border-color: #0078a1;

$color-list: #595c8d, #008e5c, #fc5a8e, #008d8c, #4ec58f, #ffc260, #ff5844,
  #ee393e, #ac5c8d, #00c6c4, #0091c3, #0078a1;