 .main {
    background-color: $BG-COLOR;
    position: relative;
    z-index: -1;
    padding-top:150px;
    padding-bottom: 20px;
    &__document {
        display: flex;
        width: 1060px;
        height: 1195px;
        box-shadow: 0 0 35px rgba(0, 0, 0, 0.22);
        margin-bottom: 20px;
        background-color:$WHITE;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        &-date {
            margin-top: 202px;
            margin-bottom: 47px;
            color: $TITLE-COLOR;
            font-family:'Proxima Nova Cn Rg' sans-serif;
            font-size: 20px;
            font-weight: 400;
            letter-spacing: 6.72px;
            text-transform: uppercase;
        }
        &-title {
            font-family:'Futura PT' sans-serif;
            line-height: 73.52px;
            text-align: left;
            font-style: normal;
            line-height: normal;
            font-size: 78px;
            font-weight: 900;
            text-transform: uppercase;
        }
        &-subtitle {
            color:$SUBTITLE;
            font-family: Georgia;
            font-size: 30px;
            font-style: italic;
            font-weight: 300;
            margin-bottom: 55px;
        }
    }
    .content-document {
    width: 880px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    }
    .line {
        border-left: 1.5px solid $DOCUMENT-LINE;
        margin-left: 67px;
        padding-left: 55px;
    }
    .paragraph {
        font-family: Georgia;
        font-size: 27px;
        text-align: justify;
        line-height: 40.38px;
        font-weight: 400;
        font-style: normal;
        padding-bottom: 39px;
    }
 }
